<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AwanHotstar</title>
    <link rel="stylesheet" href="/task7_data/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/task7_data/layout.js"></script>
</head>

<body>
    <header>
        <div class="containerheader">
            <div class="headerrow">
                <div class="headercolumn1">
                    <div class="logo">
                        <img src="/task7_data/logo.png">
                    </div>
                </div>

                <div class="headercolumn2">
                    <ul>
                        <li>Hosting</li>
                        <li>Integration</li>
                        <li>Pricing</li>
                        <li>Community</li>
                        <li class="button">Login</li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>

    </header>
    <section>
        <div class="StartingContainer">
            <div class="startingrow">
                <div class="startingcol">
                    <div class="startinfo">
                        <h2>Hosting Services for Your Website</h2>
                        <p>Easily and reliably host a website for your business, organization,
                            or project while retaining complete control over your site's u
                            underlying infrastructure.
                        </p>
                        <div class="startingbutton">
                            <div class="yellowbtn">
                                <a href="#">Get Started</a>
                            </div>
                            <div class="simplebtn">
                                <a href="#">Get Migration Help</a>
                            </div>

                        </div>
                    </div>
                    <div class="arrow-start">
                        <img src="/task7_data/arrow-down.png">
                    </div>
                </div>
                <div class="startingcol" style="display: flex;justify-content:flex-end;">
                    <div>
                        <img src="./portrait-confident-bearded-man-using-laptop-computer 1.png"
                            style="width:100%;padding-top: 200px;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="logocontainer">
            <div class="logorow">
                <div class="logocol">
                    <div class="info">
                        <p>THose who have Experienced THe Best Performance</p>
                    </div>
                </div>
                <div class="logocol">
                    <div class="logo">
                        <img src="/task7_data/Telkom Indonesia Logo.png" alt="">
                    </div>
                </div>
                <div class="logocol">
                    <div class="logo">
                        <img src="/task7_data/Jetstar Airways Logo.png" alt="">
                    </div>
                </div>
                <div class="logocol">
                    <div class="logo">
                        <img src="/task7_data/Nescafe Logo.png">
                    </div>
                </div>
                <div class="logocol">
                    <div class="logo">
                        <img src="/task7_data/Lenovo Logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="speedcontainer">
            <div class="speedrow">
                <div class="speedcol">
                    <div style="display: flex; justify-content: flex-start;">
                        <img src="/task7_data/Group 3552.png">
                    </div>
                </div>
                <div class="speedcol">


                    <h2>Boost the speed of your website</h2>
                    <div class="speedcol-row-col">
                        <div class="cardcol">
                            <div>
                                <h3>Faster Build Process</h3>
                                <p>we can speed up the process of creating your
                                    website
                                </p>
                            </div>
                        </div>
                        <div class="cardcol">
                            <div>
                                <h3>Faster Delivery</h3>
                                <p>Our purchases and services can be completed quickly
                                </p>
                            </div>
                        </div>
                        <div class="cardcol">
                            <div>
                                <h3>Faster Access speed</h3>
                                <p>Superb network infrastructure and hardware
                                    to support fast and stable access
                                </p>
                            </div>
                        </div>
                        <div class="cardcol">
                            <div>
                                <h3>24/7 Faster Service</h3>
                                <p>we have a response time of less than 180 seconds,
                                    available 24 hours a day
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="HostContainer">
            <div class="hostrow">
                <div class="hostcol">
                    <h2>Host any website with our fully managed Services</h2>
                </div>
                <div class="hostcol">
                    <div class="hostcard">
                        <div class="squar">
                            <div class="title">
                                <img src="/task7_data/cloud-sunny.png" />Cloud Hosting

                            </div>

                            <p>Cloud hosting is a good fit for those of you who are building personal websites,
                                portfolios,blogs, and other systems
                            </p>
                        </div>
                        <p>$5.9/month</p>
                        <div class="btn">
                            <a href="#">More Detail</a>
                        </div>

                    </div>
                    <div class="hostcard">
                        <div class="squar">
                            <div class="title">
                                <div class="host-card2">
                                    <img src="/task7_data/buildings.png" />
                                </div>
                                <div class="host-card2">
                                    <p>Cloud Hosting</p>
                                </div>

                            </div>

                            <p>Cloud hosting is a good fit for those of you who are building personal websites,
                                portfolios,blogs, and other systems
                            </p>
                        </div>
                        <p>$5.9/month</p>
                        <div class="btn">
                            <a href="#">More Detail</a>
                        </div>
                    </div>
                    <div class="hostcard">
                        <div class="squar">
                            <div class="title">
                                <img src="/task7_data/driver.png" />Cloud Hosting

                            </div>

                            <p>Cloud hosting is a good fit for those of you who are building personal websites,
                                portfolios,blogs, and other systems
                            </p>
                        </div>
                        <p>$5.9/month</p>
                        <div class="btn">
                            <a href="#">More Detail</a>
                        </div>
                    </div>
                    <div class="hostcard">
                        <div class="squar">
                            <div class="title">
                                <img src="/task7_data/monitor-mobbile.png" />Cloud Hosting

                            </div>

                            <p>Cloud hosting is a good fit for those of you who are building personal websites,
                                portfolios,blogs, and other systems
                            </p>
                        </div>
                        <p>$5.9/month</p>
                        <div class="btn">
                            <a href="#">More Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="wordpresscontainer">
            <div class="wordpressrow">
                <div class="wordpresscol1">
                    <div class="wordpresssub-col" onmouseover="openLanguage(event, 'wordpress')">
                        <div>
                            <img src="/task7_data/WordPress.com Logo.png">
                        </div>
                        <div class="title">
                            <p>wordpress</p>
                        </div>
                    </div>
                    <div>
                        <div class="wordpresssub-col" onmouseover="openLanguage(event, 'mongato')">
                            <div>
                                <img src="/task7_data/WordPress.com Logo.png">
                            </div>
                            <div class="title">
                                <p>mogato</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wordpresssub-col" onmouseover="openLanguage(event, 'php')">
                            <div>
                                <img src="/task7_data/WordPress.com Logo.png">
                            </div>
                            <div class="title">
                                <p>php</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="wordpresssub-col" ; onmouseover="openLanguage(event, 'laravel')">
                            <div>
                                <img src="/task7_data/WordPress.com Logo.png">
                            </div>
                            <div class="title">
                                <p>laravel</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wordpresscol2  word" id="wordpress">
                    <h2 style="color:#041630;
                    font-size: 6dvh;">The best managed Cloud Hosting for Wordpress<h2>
                            <p style="color: black;
                    opacity: 0.5;
                    font-size: 2dvh;">We live and breath wordPress. Our manage hosting for wordpress
                                and Woocommerce takes away cloud server related hassels so you
                                can scale your website the way you want.
                            </p>
                            <div class="right">
                                <div>
                                    <img src="/task7_data/Vector.png" width="20px" height="30px" style="margin-right: 20px;">
                                    <p style="font-size: 12px;">Unlimited Bandwidth</p>
                                </div>
                                <div>
                                    <img src="/task7_data/Vector.png" width="20px" height="30px" style="margin-right: 20px;">
                                    <p style="font-size: 12px;">Network Speed</p>
                                </div>
                                <div>
                                    <img src="/task7_data/Vector.png" width="20px" height="30px" style="margin-right: 20px;">
                                    <p style="font-size: 12px;">Turbo Power</p>
                                </div>
                                <div>
                                    <img src="/task7_data/Vector.png" width="20px" height="30px" style="margin-right: 20px;">
                                    <p style="font-size: 12px;">Xtreem Freedom</p>
                                </div>
                            </div>
                            <div class="wordpresscol2-btn">
                                <a href="#">More Details</a>
                            </div>
                </div>
                <div id="mongato" class="word">
                    <h3>Mongato</h3>
                </div>
                <div id="php" class="word">
                    <h3>Php</h3>
                </div>
                <div id="laravel" class="word">
                    <h3>laravel</h3>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="about-title-section">
                <div style="width:50%">
                    <h2 style="color:#041630;
                    font-size: 6dvh;">How Our Customers Feel about us</h2>
                </div>
                <div class="arrow-parent">
                    <!-- <i class="fa-solid fa-arrow-left"></i> -->
                    
                    <button id="slideback" onclick="slideback()">
                        <img src="/task7_data/arrow-right.png" style="transform: rotate(-180deg);">
                    </button>
                   
                    <button id="slide" onclick="slide()">
                        <img src="/task7_data/arrow-right.png">
                     </button>
                </div>

            </div>
            <div id="about-card-row" class="about-card-row">
                <div class="about-card-col">
                    <div class="about-parent-card">
                        <div class="about-card">
                            <div>
                                <img src="/task7_data/profile.png">
                            </div>
                            <div class="star">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                            </div>
                            <div style="padding-left: 30px;padding-right: 30px;">
                                <p>Thanks to the Awan Hostar, I was guided step-by-step until it was
                                    finished
                                </p>
                            </div>
                            <div>
                                <p>Guy Hawkins</p>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="about-card-col">
                    <div class="about-parent-card">
                        <div class="about-card">
                            <div>
                                <img src="/task7_data/profile.png">
                            </div>
                            <div class="star">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                            </div>
                            <div style="padding-left: 30px;padding-right: 30px;">
                                <p>Thanks to the Awan Hostar, I was guided step-by-step until it was
                                    finished
                                </p>
                            </div>
                            <div>
                                <p>Guy Hawkins</p>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-card-col">
                    <div class="about-parent-card">
                        <div class="about-card">
                            <div>
                                <img src="/task7_data/profile.png">
                            </div>
                            <div class="star">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                            </div>
                            <div style="padding-left: 30px;padding-right: 30px;">
                                <p>Thanks to the Awan Hostar, I was guided step-by-step until it was
                                    finished
                                </p>
                            </div>
                            <div>
                                <p>Guy Hawkins</p>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-card-col">
                    <div class="about-parent-card">
                        <div class="about-card">
                            <div>
                                <img src="/task7_data/profile.png">
                            </div>
                            <div class="star">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                            </div>
                            <div style="padding-left: 30px;padding-right: 30px;">
                                <p>Thanks to the Awan Hostar, I was guided step-by-step until it was
                                    finished
                                </p>
                            </div>
                            <div>
                                <p>Guy Hawkins</p>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-card-col">
                    <div class="about-parent-card">
                        <div class="about-card">
                            <div>
                                <img src="/task7_data/profile.png">
                            </div>
                            <div class="star">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                            </div>
                            <div style="padding-left: 30px;padding-right: 30px;">
                                <p>Thanks to the Awan Hostar, I was guided step-by-step until it was
                                    finished
                                </p>
                            </div>
                            <div>
                                <p>Guy Hawkins</p>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-card-col">
                    <div class="about-parent-card">
                        <div class="about-card">
                            <div>
                                <img src="/task7_data/profile.png">
                            </div>
                            <div class="star">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                                <img src="/task7_data/Star 2.png">
                            </div>
                            <div style="padding-left: 30px;padding-right: 30px;">
                                <p>Thanks to the Awan Hostar, I was guided step-by-step until it was
                                    finished
                                </p>
                            </div>
                            <div>
                                <p>Guy Hawkins</p>
                                <p>Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section>
        <div class="container" style="background-color:#bfc4dd ;">
            <div class="last-row">
                <div class="last-col">
                    <div class="startinfo">
                        <h2>Try it Now and Stop Doubting
                            Anything Else
                        </h2>
                        <p>With Awan Hoster's Money Back Guarantee,you can try the best
                            service reliability
                        </p>
                        <div class="startingbutton">
                            <div class="yellowbtn">
                                <a href="#">Start Free Trial</a>
                            </div>
                            <div class="simplebtn">
                                <a href="#">See All Plans</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="last-col">
                    <div style="display: flex; justify-content: flex-end;">
                        <img src="/task7_data/Group 1000008788.png" width="90%" height="800px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container" style="background-color: #1565d8;;">
            <div class="footer-row">
                <div class="footer-col">
                    <div class="logo">
                        <img src="/task7_data/logo-white.png">
                    </div>
                    <div>
                        <p>We provide you with the best hosting
                            solution for your website.</p>
                    </div>
                    <div class="social">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
                <div class="footer-col2">
                    <div>
                        <p style="font-size: 25px;">Companey</p>
                        <p>About</p>
                        <p>Blog</p>
                        <p>Leadership</p>
                        <p>Careers</p>
                        <p>Legal</p>
                    </div>
                    <div>
                        <p style="font-size: 25px;">Product</p>
                        <p>API</p>
                        <p>Prizing</p>
                        <p>Documentation</p>
                        <p>Release Notes</p>
                    </div>
                    <div>
                        <p style="font-size: 25px;">Contact</p>
                        <p>Support</p>
                        <p>Sales</p>
                        <p>Report Abuse</p>
                        <p>System Status</p>
                    </div>

                </div>
            </div>
        </div>
    </footer>

</body>
</html>