<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surbhi-Rank-02-02-2024</title>
    <style>
        tr {
            height: 60px;
            width: 60px;
        }

        td {

            height: 60px;
            width: 60px;
        }
    </style>
</head>

<body onload="randomcell()">
    <p>Surbhi Rank-02-02-2024</p>
    <center>
        <table id="tableid" border="1">
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <p id="text" style="font-size: larger;"></p>
    </center>
</body>
<script>

    var score = 1;
    function randomcell() {
        var table = document.getElementById('tableid');
        let tdque = document.querySelectorAll('td');
        let RanCell = Math.floor(Math.random() * tdque.length);

        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }

        document.querySelectorAll('td').forEach(cell => {
            cell.style.opacity = 1;
            cell.style.background = color;
        });
        tdque[RanCell].style.opacity = 0.5;
        tdque[RanCell].setAttribute("onclick", " AddColumnrow()");


}


    function AddColumnrow() {
        var table = document.getElementById('tableid');
        if (table.rows.length < 12) {

            document.querySelectorAll('tr').forEach(row => {
                let cell = document.createElement('td');
                row.appendChild(cell);
            });



            let length = table.rows[0].cells.length;
            let row = document.createElement("tr");

            for (let i = 0; i < length; i++) {

                var cell = document.createElement('td');
                row.appendChild(cell);
            }
            table.appendChild(row);

        }

        document.getElementById('text').innerHTML = "Your Score is" + score;
        score++;
        randomcell();

    }

        let count = 60;
        const timer = setInterval(function() {
        count--;
        if (count === 0) {
            clearInterval(timer);
            alert("Time's up!");
            score = 0;
        }
    }, 200);

</script>

</html>