<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surbhi-Rank-02-02-2024</title>
    <style>
        tr {
            height: 60px;
            width: 60px;
        }

        td {

            height: 60px;
            width: 60px;
        }
    </style>
</head>

<body onload="randomcell()">
    <p>Surbhi Rank-02-02-2024</p>
    <center>
        <table id="tableid" border="1">
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <p id="text" style="font-size: larger;"></p>
    </center>
    
</body>
<script src="/task1_data/cucucube.js"></script>
</html>