<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Technique</title>
</head>
<body>
    <span id="print"></span><br>
    <span id="printoutput"></span><br>
    <span id="stringarray"></span><br>
    <span id="outputstringsort"></span>
</body>
<script>
    sort();
    sortAlpha();
    //document.write(abc);
   
        //document.write(swap);
       
    function sort()
    {
        var abc = [10,"aadds","saysgy","asduiah","11cc","11ac"];
        document.getElementById('print').innerHTML = abc;
        var i,j;
        for(i=0;i<abc.length-1;i++)
        {
            
            for(j=0;j<abc.length-i-1;j++)
            {
                if(abc[j]>abc[j+1])
                {
                    var temp = abc[j];
                    abc[j] = abc[j+1];
                    abc[j+1] = temp;
                }
            }
        }
        document.getElementById('printoutput').innerHTML = abc;
    }
    // function sortAlpha(){
    //     var strinarr = ["banana","apple","cat","dog"];
    //     document.getElementById('stringarray').innerHTML = strinarr;
    //     var i,j;
    //     for(i=0;i<strinarr.length;i++)
    //     {
    //         for(j=0;j<strinarr.length-i-1;j++)
    //         {
    //             // for(k=0;k<strinarr[j].length;k++)
    //             // {
    //             //    if(strinarr[j][k].charCodeAt(k)>strinarr[j+1][k])
    //             //    {
    //             //     var temp = strinarr[j];
    //             //     strinarr[j] = strinarr[j+1];
    //             //      strinarr[j+1] = temp;
    //             //    }
                
    //             if(strinarr[j].charCodeAt(0)>strinarr[j+1].charCodeAt(0))
    //             {
    //                 var temp = strinarr[j];
    //                 strinarr[j] = strinarr[j+1];
    //                 strinarr[j+1] = temp;

    //             }
    //         }
    //     }
    //     document.getElementById('outputstringsort').innerHTML = strinarr;
    // }

    
</script>
</html>