<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontpage</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <h1>Welcome !!</h1>
    <a href="/registerpage" class="button">Registartion</a>
    <a href="/login" class="button">Login</a>
</body>
</html>