<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all task</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <div class="maincontainer"></div>
    <div class="container">
        <h1>Welcome to home Page</h1>
        <div class="row">
            <div class="col">
                <h4>coocube</h4>
                <h4>Tic_Tac_Toi</h4>
                <h4>DynamicTable</h4>
                <h4>Javascript Event</h4>
                <h4>Sorting</h4>
                <h4>Ehya</h4>
                <h4>awan</h4>
                <h4>hirex</h4>
                <h4>homegreedsearch</h4>
                <h4>Deleamitersearch</h4>
            </div>
        <div class="col">
        <a href="/coocube" class="button">coocube</a>
        <a href="/tictactoe" class="button">Tic_Tac_Toi</a>
        <a href="/dynamictable" class="button">DynamicTable</a>
        <a href="/event" class="button">Javascript Event</a>
        <a href="/sorting" class="button">Sorting</a>
        <a href="/ehya" class="button">Ehya</a>
        <a href="/awan" class="button">awan</a>
        <a href="/hirex" class="button">hirex</a>
        <a href="/homegreedsearch" class="button">homegreedsearch</a>
        <a href="/deleamitersearch" class="button">Deleamitersearch</a>
        </div>
        </div>
    </div>
   
    
    
</body>
</html>