<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all task</title>
</head>
<body>
    <a href="/coocube">coocube</a>
    <a href="/tictactoe">Tic_Tac_Toi</a>
    <a href="/dynamictable">DynamicTable</a>
    <a href="/event">Javascript Event</a>
    <a href="/sorting">Sorting</a>
    <a href="/ehya">Ehya</a>
</body>
</html>