<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surbhi-Rank-01-02-2024</title>
    <link rel="stylesheet" href="/task3_data/dynamictable.css">
</head>
<body>
    <center>
    <table id="tableid">
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
      </table>
      
      
     <button type="button" onclick="myFunction()">
        Add Row
    </button>
    <button type="button" onclick="removeRow()">
       Delete Row
    </button>
    <button type="button" onclick="AddColumn()">add column</button>
     <button type="button" onclick="RemoveColumn()">
        Delete Column
     </button> 
     <center>
</body>
<script src="/task3_data/dynamictable.js"></script>
</html>