<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hirex</title>
    <link rel="stylesheet" href="/task8_data/layout3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="/task8_data/assets/HireX_black.png">
        </div>
        <div>
            <ul>
                <li><a href="#">Works</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Contact Us</a></li>
                <li class="btnblack"><a href="#">we're Hiring-></a></li>
            </ul>
        </div>
    </header>
    <section style="height:780px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="welcome">
                        <div class="welcom-sub1">
                            <p>Welcome to Hirex</p>
                            <img src="/task8_data/assets/Star 1.png">
                        </div>
                        <div class="welcom-sub2">
                            <h2>Award Winning Digital Agency.</h2>
                            <p>Digital Agency offering unique solution to create
                                digital presence and increase your sales.
                            </p>
                        </div>
                        <div class="form">
                            <input type="email" placeholder="your email address" style="opacity: 0.5;">
                            <button id="Request" class="yelow" value="Request access">Request access</button>
                        </div>
                        <div class="comment">
                            <p>Open account and get five boxes</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="welcom2">
                        <div class="webdesign">
                            <img src="/task8_data/assets/image 2 (Traced).png">
                            <h2>Web Designing</h2>
                        </div>
                        <div class="socialmidia">
                            <img src="/task8_data/assets/image 6 (Traced).png">
                            <h2>Social Media</h2>
                        </div>
                        <div class="uixdesign">
                            <img src="/task8_data/assets/image 1 (Traced).png">
                            <h2>UIX Design</h2>
                        </div>
                        <img src="/task8_data/assets/Group 6.png" class="new">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <marquee direction="left">
        <div class="blackborder">
            <div class="blackborderchild">
                <h3>GET ACCESS NOW!</h3>
                <div><img src="/task8_data/assets/image-fBLQvAFN1-transformed 1.png" /></div>
                <div class="line"><img src="/task8_data/assets/Line 4.png"></div>
            </div>
            <div class="blackborderchild">
                <h3>GET ACCESS NOW!</h3>
                <div><img src="/task8_data/assets/image-fBLQvAFN1-transformed 1.png" /></div>
                <div class="line"><img src="/task8_data/assets/Line 4.png"></div>
            </div>
            <div class="blackborderchild">
                <h3>GET ACCESS NOW!</h3>
                <div><img src="/task8_data/assets/image-fBLQvAFN1-transformed 1.png" /></div>
                <div class="line"><img src="/task8_data/assets/Line 4.png"></div>
            </div>
            <div class="blackborderchild">
                <h3>GET ACCESS NOW!</h3>
                <div><img src="/task8_data/assets/image-fBLQvAFN1-transformed 1.png" /></div>
                <div class="line"><img src="/task8_data/assets/Line 4.png"></div>
            </div>
            <div class="blackborderchild">
                <h3>GET ACCESS NOW!</h3>
                <div><img src="/task8_data/assets/image-fBLQvAFN1-transformed 1.png" /></div>
                <div class="line"><img src="/task8_data/assets/Line 4.png"></div>
            </div>
        </div>
    </marquee>
    <section>
        <div class="container">
            <div class="services">
                <div class="service-btn"><a href="#">Services</a></div>
                <div style="margin: auto;">
                    <h3>How Hireex. Work</h3>
                </div>
                <div>
                    <p style="opacity: 0.5;">The awesome people who makes all this possible</p>
                </div>
            </div>
            <div class="sub-container">
                <div class="row">
                    <!-- <div class="service-row"> -->
                    <div class="service-col">
                        <div class="service-card">
                            <p class="service-card-heading">START HERE</p>
                            <p class="service-card-des">Who we are & what we do</p>
                            <img src="/task8_data/assets/Designer _Flatline 1.png">
                            <div class="btn"><a href="#">START HERE -></a></div>
                        </div>
                    </div>
                    <div class="service-col">
                        <div class="service-card">
                            <p class="service-card-heading">Custom Design</p>
                            <p class="service-card-des">We'll design your project</p>
                            <img src="/task8_data/assets/Notifications_Flatline 1.png">
                            <div class="btn" style="background-color: #FFBB38;"><a href="#">START HERE -></a></div>
                        </div>
                    </div>
                    <div class="service-col">
                        <div class="service-card">
                            <p class="service-card-heading">Contact Us</p>
                            <p class="service-card-des">Drop us your message!</p>
                            <img src="/task8_data/assets/Fortnite_Two Color 1.png" height="325px">
                            <div class="btn" style="background-color:#FC7F3A;"><a href="#">START HERE -></a></div>
                        </div>

                        <!-- </div> -->
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="services">
            <div class="service-btn" style="background-color:rgb(81, 102, 216);"><a href="#">work</a></div>
            <div style="margin: auto;">
                <h3>Find out latetest Works</h3>
            </div>
            <div>
                <p>The awesome people who make all this possible</p>
            </div>
        </div>
        <div class="row">
            <div class="work-col">
                <img src="/task8_data/assets/Rectangle 13.png">
                <div class="work-contain1">
                    <div class="work-button"><a href="#">web design</a></div>
                    <h4>Website Design For Digital Agency</h4>
                    <p>Build a unique Website with HireX Template</p>
                    <a href="#" style="text-decoration: underline;">Read more -></a>
                </div>
            </div>
            <div class="work-col" style="position: relative;">
                <img src="/task8_data/assets/Rectangle 13-1.png">
                <div class="work-contain1">
                    <div class="work-button"><a href="#">3D design</a></div>
                    <h4>Realistic 3d Model of Living Room</h4>
                    <p>Build a unique website with Hirex Template</p>
                    <a href="#" style="text-decoration: underline;">Read more -></a>
                </div>
                <div class="btn"><a href="#"> View All-></a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="plan">
            <h2>Plans & Pricing</h2>
            <p style="opacity: 0.5; font-size: large;">The awesome people who makes all this possible</p>
        </div>
        <section style="margin-top: 50px;">
            <div class="row">
                <div class="plan-col">
                    <div class="card">
                        <h4>FREE</h4>
                        <p class="plan-card-charge">$0<sub>/MONTH</sub></p>
                        <p class="plan-card-des">Start free while you learn more about our services</p>
                        <hr>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Free forever get the basic essentials</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Advanced security and performance</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Unlimited unhosted sites</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Live support</p>
                        </div>
                        <div class="plan-button"><a href="#">GET STARTED</a></div>
                    </div>
                </div>
                <div class="plan-col">
                    <div class="card">
                        <h4>BASIC</h4>
                        <p class="plan-card-charge">$19<sub>/MONTH</sub></p>
                        <p class="plan-card-des">Get powerful tools to make your business grow</p>
                        <hr>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Free forever get the basic essentials</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Advanced security and performance</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Unlimited unhosted sites</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Live support</p>
                        </div>
                        <div class="plan-button" style="background-color: #FC7F3A;"><a href="#">GET STARTED</a></div>
                    </div>
                </div>
                <div class="plan-col">
                    <div class="card">
                        <h4>PRO</h4>
                        <p class="plan-card-charge">$99<sub>/MONTH</sub></p>
                        <p class="plan-card-des">Take your business to the next level with our tools</p>
                        <hr>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Free forever get the basic essentials</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Advanced security and performance</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Unlimited unhosted sites</p>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-check"></i>
                            <p>Live support</p>
                        </div>
                        <div class="plan-button" style="background-color: green;"><a href="#" style="color: white;">GET
                                STARTED</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section style="background-color: rgb(94, 230, 94);">
        <div class="container" >
            <div class="row">
                <div class="mase-col"><img src="/task8_data/assets/arrow-left-2.png"></div>
                <div class="mase-col1">
                    <div class="child-mase-col1">
                        <img src="/task8_data/assets/testimonials-img.png" class="man">
                        <div class="mase-name">
                            <p>@mase.place</p>
                        </div>
                        <div class="green-arrow"><img src="/task8_data/assets/arrow-right.png"></div>
                    </div>
                    <div class="child-mase-col2">
                        <div class="heading">
                            <h3>We Select to practice in Minetva since it is both useful, and our clients basically
                                adore it! It has stood the test of time and proceeds
                            </h3>
                        </div>
                        <div class="des">
                            <p>Abel Carden is a TikTok personality and lip-sync content creator who has
                                built a fanbase of more than 3.2 million followers on the platform.
                            </p>
                        </div>
                    </div>


                </div>
                <div class="mase-col2">
                    <div class="img">
                        <img src="/task8_data/assets/arrow-right-2.png">
                    </div>
                </div>

            </div>
        </div>

    </section>
    <div class="container">
        <div class="update-subcontainer">
            <div class="pink-btn"><a href="#">Blog</a></div>
            <h2>Stay updated</h2>
        </div>
        <section>
            <div class="row">
                <div class="update-col1">
                    <img src="/task8_data/assets/Rectangle 19.png">
                    <div class="work-contain1">
                        <div class="work-button"><a href="#">web design</a></div>
                    <h4>We Launch Minerva Template this Week!</h4>
                    <p>Build a unique Website with HireX Template</p>
                    <a href="#" style="text-decoration: underline;">Read more -></a>
                    </div>
                </div>
                <div class="update-col1">
                    <img src="/task8_data/assets/Rectangle 20.png">
                    <div class="work-contain1">
                        <div class="work-button"><a href="#">web design</a></div>
                    <h4>Website Design For Digital Agency</h4>
                    <p>Build a unique Website with HireX Template</p>
                    <a href="#" style="text-decoration: underline;">Read more -></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section style="background-color: #FFC80A;">
        <div class="container" >
            <div class="row">
                <div class="news-col">
                    <h3>Get our latest news & updates</h3>
                    <div>
                        <input type="text" class="input1" placeholder="NAME">
                        <input type="text" class="input1" placeholder="EMAIL">
                        <input type="text" class="input1" placeholder="SUBSCRIBE">
                    </div>
                    <div class="news-arrow"><img src="/task8_data/assets/arrow-right-2.png"></div>
                </div>
                <div class="news-col2">
                    <div><p>We select to practice in Minerva sinc it is both
                        useful and commonsense, and our clients basically adore it
                    </p></div>
                    <div class="news-btn"><a href="#">Book a Call</a></div>
                </div>
            </div>
        </div>
    </section>
    <marquee behavior="level" direction="left">
        <div class="blackborder">
            <div class="blackborderchild" style="margin: auto;">
                <h3>THANK YOU FOR YOUR VISIT!</h3>
                <div class="line1"><img src="/task8_data/assets/Line 5.png" style="height: 10px;"></div>
            </div>
            <div class="blackborderchild" style="margin: auto;">
                <h3>THANK YOU FOR YOUR VISIT!</h3>
                <div class="line1"><img src="/task8_data/assets/Group 59.png" style="height:50px"></div>
            </div>
            <div class="blackborderchild" style="margin: auto;">
                <h3>THANK YOU FOR YOUR VISIT!</h3>
                <div class="line1"><img src="/task8_data/assets/Line 5.png" style="height: 10px;"></div>
            </div>
            <div class="blackborderchild" style="margin: auto;">
                <h3>THANK YOU FOR YOUR VISIT!</h3>
                <div class="line1"><img src="/task8_data/assets/Group 59.png" style="height:50px"></div>
            </div>
        </div>
    </marquee>
    
    <div class="container">
        <footer>
            <div class="footer-logo"><img src="/task8_data/assets/HireX_black.png"></div>
            <hr style="opacity: 0.5;">
            <div class="row">
                <div class="footer-col">
                    <p class="footer-heading">Products</p>
                    <p>Platform</p>
                    <p>Store Overview</p>
                    <p>Email Report</p>
                    <p>Portfolio</p>
                </div>
                <div class="footer-col">
                    <p class="footer-heading">Resources</p>
                    <p>Case Studies</p>
                    <p>Product Guides</p>
                    <p>Reports</p>
                    <p>Blog</p>
                    <p>FAQ</p>
                </div>
                <div class="footer-col">
                    <p class="footer-heading">Company</p>
                    <p>Careers</p>
                    <p>Contact Sales</p>
                    <p>Contact Support</p>
                </div>
                <div class="footer-col">
                    <p class="footer-heading">Partners</p>
                    <p>Partner With Us</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>