<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/task9_data/dynamic.css">
</head>

<body>
    <center>
        <h1>Hello How can I help You</h1>
        <a href="/form" class="button">QueryPage</a>
        <a href="/search" class="button">Searching Page</a>
    </center>

</body>

</html>