<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timezone</title>
    
</head>
<body>
    <h1>Select Timezones</h1>
    <div id="timecombo">
    </div>
    <h2 id="displaytime"></h2>
</body>
<script src="/task14_data/timezone.js"></script>
</html>