.container {
    height: 70px;
    background-color: #04AA6D;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.col {
    width: 25%;
}

.col2 {
    width: 50%;
}

.col3 {
    width: 25%;
}

a {
    margin: 10px;
    text-decoration: none;
}

.disable {
    pointer-events: none;
    cursor: none;
    opacity: 0.5;
}