<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="/task6_data/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
        <div class="div1">
            <header>
                <img src="/task6_data/assets/Logo.svg"/>
                <div>
                <ul>
                    <li>Home</li>
                    <li>Loading</li>
                    <li>Pages</li>
                    <li>Docs</li>
                    <li>Help</li>
                    <li class="button">Get It now</li>
                </ul>
                </div>
            </header>
            <section class="section1">
                <div class="sub-section1">
                    <img src="/task6_data/assets/Hero.png" alt="">
                </div>
                <div class="sub-section2">
                    <h2>Make Your new Life Happier.</h2>
                    <p>We work with Several Leading insurence companies to
                        secure insurance coverage tailored to meet your needs.
                    </p>
                    <a href="#">Get a consulation</a>
                </div>
                
            </section>
        </div>
        <div class="div2">
            <section class="section2">
                <div class="sub-section21">
                    <div class="sub-section211">
                    <p>Our Services</p>
                    <h3>Insurance made simple for you</h3>
                    <p style="color: black;opacity: 0.5;font-size: 10px;">We work with several leading insurance to secure insurance
                        courages tailored to meet your needs.
                    </p>
                    </div>
                    <div class="sub-section212">
                        <div class="row">
                            <img src="/task6_data/assets/true.jpg"style="width:20px">
                            <p>flexible product to make your life easier</p>
                        </div>
                        <div class="row">
                            <img src="/task6_data/assets/true.jpg"style="width:20px">
                            <p>heighest standard of services</p>
                        </div>
                        <div class="row">
                            <img src="/task6_data/assets/true.jpg"style="width:20px">
                            <p>Fast and reliable services</p>
                        </div>
                    </div>
                </div>
                <div class="sub-section22">
                    <div class="card">
                        <div class="contain">
                            <img src="/task6_data/assets/Icon_Home.svg"/>
                            <div class="rowcontain">
                                <h4>Home insurance</h4>
                                <p>Home insurance is a type of insurance policy that provides
                                    cover for your home.
                                </p>
                                <a href="#">Learn more -></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="contain">
                            <img src="/task6_data/assets/Icon_Blood_Donation.svg"/>
                            <div class="rowcontain">
                                <h4>Home insurance</h4>
                                <p>Home insurance is a type of insurance policy that provides
                                    cover for your home.
                                </p>
                                <a href="#">Learn more -></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="contain">
                            <img src="/task6_data/assets/Icon_Car.svg"/>
                            <div class="rowcontain">
                                <h4>Home insurance</h4>
                                <p>Home insurance is a type of insurance policy that provides
                                    cover for your home.
                                </p>
                                <a href="#">Learn more -></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="div3">
            <section class="section3">
                <div class="section31">
                    <p>Our Tips for you</p>
                    <h3>Reinventing you protection</h3>
                    <p style="color: black;opacity: 0.5;font-size: 10px;">We share common trends strategies ideas,opinions, short& long stories 
                        from the team behind company. 
                    </p>
                </div>
                <div class="section32">
                    <div class="image1">
                        <p>How to prevent and protect your family from Carbon Monoxide</p>
                    </div>
                    <div class="image2">
                       <p>Motherhood is the hardest and the best job ever</p>
                    </div>
                </div>
                <div class="section33">
                    <div class="card331">
                        <p>YOUR BENEFITS</p>
                        <h3>We're your right insurance advocate</h3>
                    </div>
                    <div class="card332">
                        <img src="/task6_data/assets/Donation.svg"/>
                            <div class="rowcontain">
                                <h4>We have the best prices</h4>
                                <p>Our insurance plans Offers are priced 
                                    the same everywhere else. we just make them eaiser for you.
                                </p>
                            </div>
                    </div>
                    <div class="card332">
                        <img src="/task6_data/assets/Icon_Protection.svg"/>
                            <div class="rowcontain">
                                <h4>We're your insurance advocate</h4>
                                <p>we will deals with the insurance companies for you, even after you've bought your plan.
                                </p>
                            </div>
                    </div>
                    <div class="card332">
                            <img src="/task6_data/assets/Icon_Neutron.svg"/>
                                <div class="rowcontain">
                                    <h4>We,re unbiased</h4>
                                    <p>Our online tools help you decide what product is best for you.
                                        we're here to insurance plan you choose.
                                    </p>
                                </div>
                    </div>
        
                    <div class="card332">
                        <img src="/task6_data/assets/Icon_CS.svg"/>
                            <div class="rowcontain">
                                <h4>We,re available 24/7</h4>
                                <p>We have your 24/7 between our online chat function,email and
                                    telephone support.
                                </p>
                            </div>

                    </div>
                    <div class="card332">
                        <img src="/task6_data/assets/Icon_Like.svg"/>
                            <div class="rowcontain">
                                <h4>We make insurance Simple</h4>
                                <p>We are commited to making applying for insurance as simple as can be
                                    for our customers.
                                </p>
                            </div>
                    </div>
                </div>
                <hr style="opacity: 0.5;">
                <div class="section34">
                    <div class="section341" style="margin-top: 60px;">
                        <img src="/task6_data/assets/Avatar.png">
                        <img src="/task6_data/assets/Avatar-1.png">
                        <img src="/task6_data/assets/Avatar-2.png">
                        <p><strong>Friendly</strong>customer support team</p>
                    </div>
                    <div class="section341">
                        <p><img class="a" style="width:20px" src="/task6_data/assets/Path.svg">Trustpilot</p>
                        <div class="star">
                            <img src="/task6_data/assets/s.svg"/>
                            <img src="/task6_data/assets/s.svg"/>
                            <img src="/task6_data/assets/s.svg"/>
                            <img src="/task6_data/assets/s.svg"/>
                            <img src="/task6_data/assets/s.svg"/>
                        </div>
                        <p><strong>4.6 out of 5 stars</strong> from 8.6k
                            reviews
                        </p>
                        
                    </div>
                    <div class="section341">
                        <div style="margin-top: 50px;">
                            <center><img src="/task6_data/assets/Icon_Like.svg"/></center>
                            <p>we're making <strong>insurance as simple as </strong>can be</p>
                        </div>
                       
                    </div>
                </div>
            </section>
        </div>
        <div class="div4">
            <footer>
                <div class="footer1">
                    <img src="/task6_data/assets/Logo_white.svg" alt="">
                    <p style="font-size: 13px;color: rgb(237, 236, 245);opacity:0.5">Build a modern and creative website with crealand</p>
                    <div class="icons">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                    <!-- <img src="./" alt=""> -->
                </div>
                <div class="footer2">
                    <p style="font-size: 25px; color: white;">Ready to get insured? Submit your request
                        and hear back as soon as tommorow
                    </p>
                    <form action="#">
                        <input type="text" placeholder="Your Email" style="height: 35px;border-radius: 5px;">
                        <input type="Submit" value="Get started" name="Get started" style="width:100px;font-size: 15px; height:35px;background-color:#1565D8;border: 0;border-radius: 5px;color: white;"/>
                    </form>
                </div>
            </footer>
            <!-- <p style="text-align: center; color:white;opacity: 0.5;">Copyright &#169; 2019. crafted with love</p> -->
        </div>
    
</body>
</html>