<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tic-tac</title>
    <link rel="stylesheet" href="/task2_data/tic_tac_toe.css">
</head>
<body>
    <h1>Surbhi_Rank 05-02-2024</h1>
    <table>
        <tr>
            <td data-index="0" class="box"></td>
            <td data-index="1" class="box"></td>
            <td data-index="2" class="box"></td>
        </tr>
        <tr>
            <td data-index="3" class="box"></td>
            <td data-index="4" class="box"></td>
            <td data-index="5" class="box"></td>
        </tr>
        <tr>
            <td data-index="6" class="box"></td>
            <td data-index="7" class="box"></td>
            <td data-index="8" class="box"></td>
        </tr>
    </table>
    <div id="play">Play</div>
    <button id="restart">Restart</button>
</body>
<script src="/task2_data/tic_tac_toe.js"></script>
</html>